.headshot {
  margin: auto;
  width: 175x;
  height: 175px;
  border-radius: 100px;
  margin-top: 10px;
  border-radius: 100%;
  border: 5px solid #528AAE;
}

.intro {
    background-color: #E4F6F8;
}

.bottom-container {
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

body {
  text-align: center;
}

.feature {
  text-align: left;
}

.contact-section {
  background-color: #E4F6F8;
}
